* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map-container {
  margin: 46px 60px;
  background-color: #141210;
  border-radius: 18px;
  position: relative;
  padding: 20px;
  /* 기본값 stretch 방지  */
  align-items: flex-start;
}

.zoom-indicator {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 92px;
  height: 30px;
  border-radius: 8px;
  border-color: rgba(87, 83, 77, 0.5);
  border-width: 1px;
  background-color: rgba(41, 37, 36, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 8px;
}

.zoom-indicator-icon {
  width: 10px;
  height: 10px;
  margin-right: 6px;
  background-size: contain;
}

.zoom-indicator-text {
  font-size: 12px;
  color: #d4a017;
  height: 24px;
  -unity-text-align: middle-center;
}

.map-room-area {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
  padding: 0 26px;
  border-radius: 12px;
  border-width: 1px;
  border-color: rgba(212, 160, 23, 0.6);
  background-color: #2a2218;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-room-area .area-type {
  display: none;
  width: 16px;
  max-height: 16px;
  border-radius: 50%;
}

/* 현재 공간일때는 current-area라는 가상클래스를, 보스 공간일때는 boss-area라는 가상클래스를 사용합니다. */

.map-room-area .area-type.current-area {
  display: block;
  background-color: #d4a017;
}

.map-room-area .area-type.boss-area {
  display: block;
  background-color: #d41717;
  opacity: 0.5;
}
