.map-room-area {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
  padding: 0 26px;
  border-radius: 12px;
  border-width: 1px;
  border-color: rgba(212, 160, 23, 0.6);
  background-color: #2a2218;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-room-area .area-type {
  display: none;
  width: 16px;
  max-height: 16px;
  border-radius: 50%;
}

/* 현재 공간일때는 current-area라는 가상클래스를, 보스 공간일때는 boss-area라는 가상클래스를 사용합니다. */

.map-room-area .area-type.current-area {
  display: block;
  background-color: #d4a017;
}

.map-room-area .area-type.boss-area {
  display: block;
  background-color: #d41717;
  opacity: 0.5;
}
